# Aula 08 - DataFrame: Criação e Indexação
---

In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = np.array([[72, 180, 26], [80, 170, 19], [60, 165, 15]])

dados

array([[ 72, 180,  26],
       [ 80, 170,  19],
       [ 60, 165,  15]])

In [7]:
df = pd.DataFrame(data=dados, columns=['Peso', 'Altura', 'Idade'])

In [8]:
df

   Peso  Altura  Idade
0    72     180     26
1    80     170     19
2    60     165     15

## Indexação

In [9]:
df['Altura']

0    180
1    170
2    165
Name: Altura, dtype: int64

In [10]:
type(df['Altura'])

pandas.core.series.Series

In [11]:
df['Idade']

0    26
1    19
2    15
Name: Idade, dtype: int64

In [14]:
type(df.loc[1])

pandas.core.series.Series

In [15]:
df

   Peso  Altura  Idade
0    72     180     26
1    80     170     19
2    60     165     15

In [16]:
df['Altura'][1]

170

In [17]:
df.loc[1]['Altura']

170

In [19]:
df[['Peso', 'Idade']]

   Peso  Idade
0    72     26
1    80     19
2    60     15

In [20]:
df.iloc[2][1]

165